﻿@Model Invalesco.Application.Dto.User.UserDto;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_InvalescoPocLayoutPage.cshtml";
}

<h2>Register</h2>

<fieldset>

</fieldset>