﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Css/Invalesco.css")" rel="stylesheet"/>
    <script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
</head>

<body>
    <div class="logo">
        <img src="~/Content/Images/logo.png" />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
